/****************************************
                GENERAL                 
****************************************/


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,
body
{
  height: 100%;
  width: 100%;
/*  font-family: 'Poppins', sans-serif !important; */
  color: #222;
  
}

a
{ 
	color:  rgb(4,66,87) !important; 
}


a:hover 
{ 
	color:  rgb(29,204,195) !important; 
}

a {
	transition: all .3s ease !important;
	-webkit-transition: all .3s ease !important;
	-moz-transition: all .3s ease !important;
	-o-transition: all .3s ease !important;
}

.pagination > .active > a
{
	background-color: rgb(29,204,195) !important;
}
.pagination > .active > a:hover
{
	color: rgb(29,204,195) !important;
	background-color: rgb(4,66,87) !important;
}
/****************************************
                HEADER                 
****************************************/
#navbar-brand
{
	width: 100%;

}
#dropMenu1,
#dropMenu2,
#dropMenu3,
#dropMenu4,
#dropMenu5,
#dropMenu6,
#dropMenu7,
#dropMenu8,
#dropMenu9
{
 padding: 30px 15px;
 font-size: 20px;
}

#navbarLinks
{
	float:right;	
}
.navbarLinksAdmin:hover
{
color:  rgb(29,204,195) !important; 

}


/****************************************
             DASHBOARD                
****************************************/


/************BADGES EN HAUT************/



/* etablissement */
a.etablissement i, .etablissement h4.list-group-item-heading {
	color: rgb(0,136,143) !important;
	font-size: 8rem;
}

a {
	transition: all .3s ease !important;
	-webkit-transition: all .3s ease !important;
	-moz-transition: all .3s ease !important;
	-o-transition: all .3s ease !important;
}

a.etablissement
{
font-size: 3rem;
}
a.etablissement:hover {
	background-color: rgb(0,136,143) !important;
}

a.etablissement:hover * {
	color: #FFF !important;
}
/* enfants */
a.enfants i, .enfants h4.list-group-item-heading {
	color: rgb(12,47,59) !important;
	font-size: 8rem;
}

a.enfants
{
font-size: 3rem;
}
a.enfants:hover {
	background-color: rgb(12,47,59) !important;
}

a.enfants:hover * {
	color: #FFF !important;
}
/* commandesEnregistree */
a.commandesEnregistrees i, .commandesEnregistrees h4.list-group-item-heading {
	color: rgb(29,204,195) !important;
	font-size: 8rem;
}

a.commandesEnregistrees
{
font-size: 3rem;
}
a.commandesEnregistrees:hover {
	background-color: rgb(29,204,195) !important;
}

a.commandesEnregistrees:hover * {
	color: #FFF !important;
}
/* commandesValidees */
a.commandesValidees i, .commandesValidees h4.list-group-item-heading {
	color: rgb(4,66,87) !important;
	font-size: 8rem;
}

a.commandesValidees
{
font-size: 3rem;
}
a.commandesValidees:hover {
	background-color: rgb(4,66,87) !important;
}
a.commandesValidees:hover {
	background-color: rgb(4,66,87) !important;
}
a.commandesValidees:hover * {
	color: #FFF !important;
}

#badge1,
#badge2,
#badge3,
#badge4
{
	padding: 40px 10px !important;
}

#badge1
{
	border: 5px solid rgb(0,136,143) !important;
	border-radius: 25px !important;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);	
}
#badge2
{
	border: 5px solid rgb(12,47,59) !important;
	border-radius: 25px !important;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);	
}
#badge3
{
	border: 5px solid rgb(29,204,195) !important;
	border-radius: 25px !important;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}
#badge4
{
	border: 5px solid rgb(4,66,87) !important;
	border-radius: 25px !important;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

#ligneBadges
{
	margin-top: 100px;
}

#badge1Icon,
#badge2Icon,
#badge3Icon,
#badge4Icon
{
	float: right;
	margin-right: 30px;
}


.list-group-item-text
{
	margin-top: 20px;
}



/********BADGES RESEAUX SOCIAUX********/

#ligneBadgesReseauxSociaux
{
	margin-top: 100px;
}

#badgeFacebook,
#badgeInstagram,
#badgeYoutube,
#badgeTwitter
{
	padding: 10px 10px !important;
}

.titre-reseaux-sociaux
{
	font-size: 3rem;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.sous-menu-reseaux-sociaux
{
	font-size: 1.5rem;
	text-align: center;
}

#badgeFacebook 
{
	border: 5px solid #3b5998 !important;
	color: #3b5998 !important;
}
#badgeFacebook:hover 
{
	color: #fff !important;
	background-color:#3b5998; 
}

#badgeInstagram
{
	border: 5px solid  transparent !important;
	border-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%) !important;
	border-image-slice: 1 !important;
	color: #dc2743 !important;
}

#badgeInstagram:hover
{
color: #fff !important;
background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
 }
 
 #badgeYoutube
{
	border: 5px solid #c4302b !important;
	color: #c4302b !important;
}
#badgeYoutube:hover 
{
	background-color:#c4302b;
	color: #fff !important;
}

#badgeTwitter 
{
	border: 5px solid #00acee !important;
	color: #00acee !important;
}
#badgeTwitter:hover 
{
	background-color:#00acee;
	color: #fff !important;
}


/***********************************************
             
             CREATION LISTE ECOLE
                             
***********************************************/


ulcreationListeEcole
{
	text-decoration: none;
}


/***********************************************
             
            RECHERCHE ETABLISSEMENT
                             
***********************************************/

#formRechercheEtablissement
{
	border: 5px solid rgb(0,136,143);
	border-radius: 25px;
	padding: 50px 50px;
	margin: 30px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

/***********************************************
             
            RECHERCHE ETABLISSEMENT
                             
***********************************************/

#formRechercheAdherent
{
	border: 5px solid rgb(0,136,143);
	border-radius: 25px;
	padding: 50px 50px;
	margin: 30px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

/***********************************************
             
            RECHERCHE ETABLISSEMENT
                             
***********************************************/

#formAddEtablissement
{
	border: 5px solid rgb(0,136,143) !important;
	border-radius: 25px;
	padding: 50px 50px;
	margin: 30px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

#formTest
{
	border: 5px solid rgb(0,136,143) !important;
	border-radius: 25px;
	padding: 10px 50px;
	margin: 30px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

/***********************************************
             
             CREATION LISTE ETABLISSEMENT
                             
***********************************************/

#formCreationListeEcole1
{
	border: 5px solid rgb(0,136,143) !important;
	border-radius: 25px;
	padding: 10px 50px;
	margin: 30px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}
#formCreationListeEcole2
{
	border: 5px solid rgb(0,136,143) !important;
	border-radius: 25px;
	padding: 10px 50px;
	margin: 30px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}


/***********************************************
             
             FICHE ADHERENT NO ADMIN
                             
***********************************************/

#formFicheAdherent1,
#formFicheAdherent2,
#formFicheAdherent3
{
	border: 5px solid rgb(0,136,143);
	border-radius: 25px;
	padding: 30px 50px;
	margin: 30px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

/* fond légèrement gris un peu comme navbar desactivé
#formFicheAdherent1
{
	background-color: #f5f5f5;
}
*/

#titre,
#titre1,
#titre2,
#titre3
{
	color : rgb(0,136,143);
	text-align: center;
	font-size: 30px;
}

#boutonDesinscrire
{
	margin-left: 100px;
}
/***********************************************
             
             FICHE ETABLISSEMENT
                             
***********************************************/

#formFicheEtablissement1,
#formFicheEtablissement2
{
	border: 5px solid rgb(0,136,143);
	border-radius: 25px;
	padding: 30px 50px;
	margin: 30px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

/***********************************************
             
             AFFICHER STOCK
                             
***********************************************/

#formAfficherStock
{
	border: 5px solid rgb(0,136,143);
	border-radius: 25px;
	padding: 30px 50px;
	margin: 30px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

/***********************************************
             
             LISTES ENREGISTREES
                             
***********************************************/

#formListesEnregistrees
{
	border: 5px solid rgb(0,136,143);
	border-radius: 25px;
	padding: 30px 50px;
	margin: 30px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}


#formCommandesATraiter
{
	border: 5px solid rgb(0,136,143);
	border-radius: 25px;
	padding: 30px 50px;
	margin: 30px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

#formHaut,
#formMid,
#formBas
{
	border: 5px solid rgb(0,136,143);
	border-radius: 25px;
	padding: 30px 50px;
	margin: 30px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

#formCreationPersoListe1,
#formCreationPersoListe2
{
	border: 5px solid rgb(0,136,143);
	border-radius: 25px;
	padding: 30px 50px;
	margin: 30px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

#formAffichageListePerso
{
	border: 5px solid rgb(0,136,143);
	border-radius: 25px;
	padding: 30px 50px;
	margin: 30px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
}