/****************************************
                GENERAL                 
****************************************/


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,
body
{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  
}

a
{ 
	color:  rgb(4,66,87) !important; 
}


a:hover 
{ 
	color:  rgb(29,204,195) !important; 
}

a {
	transition: all .3s ease !important;
	-webkit-transition: all .3s ease !important;
	-moz-transition: all .3s ease !important;
	-o-transition: all .3s ease !important;
}

.inscription
{
	text-align:  center;
	margin-top: 30px;	
	margin-bottom: 30px;
}

#jeMInscris
{
	color: rgb(4,66,87) !important;
	font-size: 20px;
	padding: 30px 50px;
	margin: 30px 300px 30px 0px;
	border: 5px solid rgb(4,66,87);
	border-radius: 25px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
	
}

#jeMInscris:hover
{
	text-decoration: none;
	transition: .3s ease !important;
	font-size: 40px;
}

/****************************************
                HEADER                 
****************************************/

#navbarLink1,
#navbarLink2,
#navbarLink3,
#navbarLink4,
#navbarLink5
{
  padding: 30px 15px;
  font-size: 20px;

}
#navbar
{
	float:right;
}

#iconConnect
{
	margin: 22px 5px;
	text-decoration: none;
}
.navbar
{
	margin-bottom:0px !important;
}



/****************************************
              CAROUSEL             
****************************************/


.carousel
{
margin-top:0px !important;

}
#slider1,
#slider2,
#slider3
{
  background-image: url(pics/website/sliderCrayonsTexte.jpg);
  background-size: cover;
}

/****************************************
             JUMBOTRON            
****************************************/

#nousConnaitre
{
	border-bottom: 1px solid black;
}

#jeMInscris:hover
{
	color:  rgb(29,204,195) !important; 
}

/****************************************
          NOS ETABLISSEMENTS                  
****************************************/

#nosEtablissements
{
	margin-top: 20px;
	border-bottom: 1px solid black;
}

#jyVais1,
#jyVais2
{
	color: white !important;
}
#jyVais1:hover,
#jyVais2:hover

{ 
	color:  rgb(29,204,195) !important; 
}
/* Included color classes.. 
  .red 
	.blue 
	.yellow
	.green
	.navy
*/ 
.services{
  margin: 10px auto;
  padding-bottom: 50px;
  }
figure.snip1174 {
color: #fff;
position: relative;
float: left;
overflow: hidden;
background-color: #1a1a1a;
color: #ffffff;
text-align: left;
margin: 10px;
width: 100%;
border-radius: 0px;
}
figure.snip1174 * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
}
figure.snip1174 img {
max-width: 100%;
-webkit-transform: scale(1.1);
transform: scale(1.1);
vertical-align: top;
opacity: 0.7;
}
figure.snip1174 figcaption {
position: absolute;
padding: 40px 25px;
top: 0;
left: 0;
}
figure.snip1174 h2,
figure.snip1174 p {
margin: 0;
padding: 0;
}
figure.snip1174 h2 {
margin-bottom: 10px;
display: inline-block;
font-weight: 100;
font-size: 1.8em;
}
figure.snip1174 p {
font-weight: 300;
margin-bottom: 20px;
line-height: 1.4em;
}
figure.snip1174 a {
display: inline-block;
padding: 10px 20px;
border: 1px solid #ffffff;
text-decoration: none;
color: #ffffff;
letter-spacing: 2px;
text-transform: uppercase;
font-size: 0.8em;
-webkit-transform: translateY(50%);
transform: translateY(50%);
opacity: 0;
}
figure.snip1174 a:hover {
background-color: rgba(0, 0, 0, 0.2);
}
figure.snip1174.blue {
background-color: #20638f;
}
figure.snip1174.yellow {
background-color: #c87f0a;
}
figure.snip1174.green {
background-color: #1e8449;
}
figure.snip1174.navy {
background-color: #222f3d;
}
figure.snip1174.red {
background-color: #962d22;
}
figure.snip1174:hover img,
figure.snip1174.hover img {
opacity: 0;
-webkit-transform: scale(1);
transform: scale(1);
}
figure.snip1174:hover a,
figure.snip1174.hover a {
-webkit-transform: translateY(0);
transform: translateY(0);
opacity: 1;
}

/*--- Fixed Background Image --*/
figure
{
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap 
{
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed 
{
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

/****************************************
                FOOTER                 
****************************************/



#contact{
  	padding-top: 30px;
  	padding-bottom: 30px;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
}
#contact h1{
	padding-top: 20px;
	padding-bottom: 20px;
}
#wrap{
	width: 100%;
	height:200px;
    text-align: center;
    background-color: #444;
    color:white;
}
#basDePage{
    height: 260px;
    background-color: #444;
    color:white;

}

h3{
	margin: 0px;
	padding: 0px;
}

wrapper h3{
	padding-bottom: 20px;
	
}

#name,
#email
{
	width: 350px;
	height: 40px;
	color: rgb(0,136,143) !important;
	
}

#button3
{
	padding: 8px;
	background-color: rgb(0,136,143);
	border: 0.5px solid rgb(0,136,143);
}

#lien1,
#lien2,
#lien3
{
	color: rgb(0,136,143) !important;
}
/****************************************
            -Media Queries               
****************************************/

@media (max-width: 1024px) {
   carouselItem
  {
    top: 40%;
  }

@media (max-width: 768px) {
  carouselItem
  {
    top: 35%;
  }

  
}
@media (max-width: 390px) {
  carouselItem
  {
    top: 15%;
  }
}


/****************************************
            Firefox Bug Fix               
****************************************/

.carousel-item 
{
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] 
{
    padding: 1rem;
}
